.icon-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.tech-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
  margin-bottom: 10px;
  margin-left: 60px;
}

.tech-icons img {
  display: inline-block;
  height: 24px;
  width: auto;
}
